#main {
    padding-top: 70px;
}

/* Taken from http://stackoverflow.com/a/20548578 */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.ascribe-table-header-row {
    border-bottom: 2px solid rgba(2, 182, 163, 0.5);
    border-top: 2px solid rgba(2, 182, 163, 0.5);
}
    
.ascribe-table-header-column {
    display: table;
    height:4em;
}

.ascribe-table-header-column > span {
    display:table-cell;
    vertical-align: middle;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    color: rgba(2, 182, 163, 1);
    font-size: 1.4em;
}

.ascribe-table-header-column > span > .glyphicon {
    font-size: .5em;
}

.ascribe-table-item:nth-child(even) {
    background-color: #F5F5F5;
}

/*.ascribe-table-item:hover {
    background-color: #EEEEEE; 
}*/

.ascribe-table-item-column {
    display: table;
    font-family: 'Source Sans Pro';
    font-size: 1.2em;
    height:4em;
}

.ascribe-table-item-column > * {
    display:table-cell;
    vertical-align: middle;
}

.btn-ascribe, .btn-ascribe:hover, .btn-ascribe:active, .btn-ascribe:focus {
    background-color: rgba(2, 182, 163, 0.5);
    border-color: rgba(2, 182, 163, 0.5);
}