/* All bootstrap overwrites should take place in this file */

.pager li a {
    color: white;
}

.panel-default {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
}

.panel-body {
    padding:0;
}