.ascribe-table {
    margin-bottom: 0;
    font-size: 1.1em;
}

// This is aligning the first checkbox in pieclist detail with all the other ones
.table > thead:first-child > tr:first-child > th {
    padding-left: 0;
}


.table > thead > tr > th {
    vertical-align: middle;
}

.ascribe-table-header-column > span {
    color: #424242;
    display: table-cell;
    font-weight: 600;
    vertical-align: middle;
}

.ascribe-table-item-column {
    display: table-cell;
    font-size: .8em;
    height: 3em;
    vertical-align: middle;

    > * {
        display: table-cell;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
    }

    > span > input {
        margin-left: 2px;
        margin-top: 10px;
    }
}

.ascribe-table-item-selected {
    background-color: rgba(2, 182, 163, .5);
}

.ascribe-table-item-selectable {
    cursor: default;
}
