$break-small: 764px;
$break-medium: 991px;

.ascribe-row {
    @media screen and (max-width: $break-medium) {
        max-width: 600px;
    }
    @media screen and (min-width: $break-medium) {
        max-width: 1200px;
    }
    margin: 0 auto;

    > div {
        padding-left: 0;
    }
}

