
.ascribe-edition-personal-note > textarea {
    margin-bottom: 1em;
}

.coa-file-wrapper {
    display: table;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 1em;
    width: 100%;
}

.coa-file {
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    display: table-cell;
    vertical-align: middle;
}