.ascribe-form-wrapper {
    margin: 0 auto;
    max-width: 600px;
    width: 80%;

    @media (max-width: 550px) {
        width: 100%;
    }
}

.ascribe-form-btn-container-left {
    float: left;
    padding: 0 2px 2px 0;
}

.ascribe-form-btn-container-right {
    float: right;
    padding: 0 0 2px 2px;
}
