.ascribe-global-notification {
    position: fixed;
    
    background-color: #212121;
    width: 100%;
    height:3.5em;
    left:0;
    display:table;

    transition: .2s bottom cubic-bezier(0.77, 0, 0.175, 1);
}

.ascribe-global-notification-off {
    bottom: -3.5em;
}

.ascribe-global-notification-on {
    bottom: 0;
}

.ascribe-global-notification > div {
    display:table-cell;
    vertical-align: middle;
    font-size: 1.25em;
    font-family: 'Source Sans Pro';
    text-align: right;
    padding-right: 3em;
}

.ascribe-global-notification-warning {
    color: #f0ad4e;
}

.ascribe-global-notification-danger {
    color: #d9534f;
}

.ascribe-global-notification-success {
    color: #5cb85c;
}

.ascribe-global-notification-info {
    color: rgba(2, 182, 163, 1);
}