.navbar-default {
    border: 0;
    border-color: #ccc;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: .8em;
    margin-bottom: 1.5em;
}

.navbar-right {
    margin-right: 0;
}


.img-brand {
    height: 60px;
}
