
.ascribe-piece-list-toolbar {
    padding-left: 15px;
    padding-right: 15px;
}

.search-bar {
    max-width: 200px;

    input {
        height: 33px;
    }
}

.ascribe-input-glyph > .form-group > .input-group {
    margin-left: 6px;

    input {
        background-color: transparent;
        border: 1px solid #02b6a3;
        border-right: 0;
        box-shadow: none;
    }

    > .input-group-addon {
        background-color: transparent;

        > .filter-glyph {
            color: #02b6a3;
        }

        border: 1px solid #02b6a3;
        border-left: 0;
    }
}

.ascribe-piece-list-toolbar-filter-widget {

    button {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid rgba(0, 0, 0, 0);
        color: #02b6a3;
        padding: 6px 4px 6px 8px;

        &:hover,
        &:active {
            background-color: #02b6a3 !important;
            border: 1px solid #02b6a3 !important;
            color: white;
        }
        .caret {
            display: none;
        }
    }

    .filter-widget-item {
        a {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .checkbox-line {
        height: 25px;
        position: relative;
        color: #333333;

        /* Fuck you react-bootstrap */
        &:hover {
            background-color: $dropdown-link-hover-bg;
            cursor: pointer;
        }

        span {
            cursor: pointer;
            left: 9px;
            margin-right: 10px;
            position: absolute;
            top: 3px;
        }

        input {
            margin-left: 10px;
            position: absolute;
            right: 9px;
            top: 2px;
        }
    }
}
