.ascribe-social-button-list {
    margin-right: 10px;
}

.btn-ascribe-social {
    height: 20px;
    width: 56px;
    box-sizing: content-box;   /* We want to ignore padding in these calculations as we use the sdk buttons' height and width */
    padding: 1px 0;
}
