.ascribe-panel-wrapper {
    border: 1px solid #DDD;
    padding: 1.4em;
    margin: 1em 0 1em 0;
}

.ascribe-panel-title {
    margin-bottom: 0.5em;
}

.ascribe-panel-content {
    font-size: 0.9em;
    color: rgba(0,0,0,0.5);
}

.ascribe-panel-buttons {
    margin-top: 0.5em;
}