@media print {
    @page {
        margin: 1.2cm;
    }

    .ascribe-default-app {
        padding: 0 !important;
    }

    // Utility class to not automatically expand an anchor href after the text
    .anchor-no-expand-print:after {
        content: '' !important;
    }

    // Replace navbar header with ascribe logo
    .ascribe-print-header {
        border-bottom: 1px solid rgba(0, 60, 105, 0.1);
        font-size: 1.2em;
        margin: 0.5em 0;
        text-align: center;
    }

    // Force left and right columns
    .ascribe-print-col-left {
        width: 50% !important;
        float: left !important;
    }
    .ascribe-print-col-right {
        width: 50% !important;
        float: right !important;
    }

    // Restyle file uploader dialogs
    .file-drag-and-drop {
        padding-top: 0;
        outline-width: 0;
        text-align: left;
    }

    .file-drag-and-drop-position {
        margin: 0;
    }

    // Restyle COA
    .ascribe-coa-print-placeholder {
        padding: 0 1.5em 1em 1.5em;
        margin: 0;
    }

    // Force collapsible properties to be expanded
    .ascribe-collapsible-content .collapse {
        display: block;
    }

    // Decrease property spacing
    .ascribe-property-wrapper {
        padding-bottom: 0.5em;
    }

    .ascribe-property {
        padding-top: 0.5em;

        > div,
        > input,
        > p,
        > pre,
        > select,
        > span:not(.glyphicon),
        > textarea {
            margin: 0;
        }
    }

    .ascribe-collapsible-wrapper {
        margin-bottom: 5px;

        > div:first-child {
            margin-top: 0;
            padding-bottom: 5px;
        }
    }

    .ascribe-form hr {
        margin-bottom: 3px;
    }

    // Hide placeholder text
    input::-webkit-input-placeholder {
        opacity: 0;
    }
    textarea::-webkit-input-placeholder {
        opacity: 0;
    }

    /* firefox 18- */
    input:-moz-placeholder {
        opacity: 0;
    }
    textarea:-moz-placeholder {
        opacity: 0;
    }

    /* firefox 19+ */
    input::-moz-placeholder {
        opacity: 0;
    }
    textarea::-moz-placeholder {
        opacity: 0;
    }

    /* ie */
    input:-ms-input-placeholder {
        opacity: 0;
    }
    textarea:-ms-input-placeholder  {
        opacity: 0;
    }
}
