.ascribe-sliding-container-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 0;
    padding-right: 0;
}

.ascribe-sliding-container  {
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    padding-left: 0;
    padding-right: 0;
}

.ascribe-slide {
    position: relative;
    min-height: 1px;
    float:left;
}

.ascribe-breadcrumb-container{
    div:last-child {
        .ascribe-breadcrumb {
            border-right: 1px solid #EEE;
        }
    }
}

.ascribe-breadcrumb {
    padding: 1em;
    border: 1px solid #EEE;
    border-right: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 0.6em;

    .active {
        color: #666;
    }
    a {
        color: #DDD;
        text-decoration: none;
        font-size: 1.1em;
        font-style: italic;
    }
}

