.search-bar {
    max-width: 200px;

    input {
        height: 33px;
    }
}

.ascribe-input-glyph > .form-group > .input-group {
    margin-left: 6px;
    border: none;
    input {
        background-color: transparent;
        box-shadow: none;
        border: none;
    }

    > .input-group-addon {
        background-color: transparent;

        > .filter-glyph {
            border: none;
        }
    }
}

.ascribe-piece-list-toolbar-widget.dropdown-toggle.btn {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    color: $ascribe--button-default-color;
    padding: 6px 4px 6px 8px;

    .open &,
    &:hover,
    &:active {
        background-color: $ascribe--button-default-color !important;
        border-color: $ascribe--button-default-color !important;
        color: white;
    }
    .caret {
        display: none;
    }
}

.ascribe-piece-list-toolbar-widget-item {
    .checkbox-line {
        height: 25px;
        position: relative;
        color: #333333;

        span {
            cursor: pointer;
            left: 9px;
            margin-right: 10px;
            position: absolute;
            top: 3px;
        }

        input {
            margin-left: 10px;
            position: absolute;
            right: 9px;
            top: 2px;
        }
    }

    .dropdown-menu & {
        min-width: 170px;
    }
}
