.ascribe-progress-bar {
    margin-bottom: 0;

    > .progress-bar {
        background-color: $ascribe-dark-blue;
    }

    span {
        font-size: 1.2em;
        color: white;
        text-shadow: -1px 0 $ascribe--button-default-color,
                      0 1px $ascribe--button-default-color,
                      1px 0 $ascribe--button-default-color,
                      0 -1px $ascribe--button-default-color;
    }
}

.ascribe-progress-bar.ascribe-progress-bar-xs {
    height: 12px;
}
