.ascribe-piece-list-bulk-modal {
    background-color: #fafafa;
    border-bottom: .2em solid #e0e0e0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: .1em solid #e0e0e0;
    border-right: .1em solid #e0e0e0;
    border-top: .1em solid #e0e0e0;
    left: 3%;
    padding-bottom: 1em;
    position: fixed;
    top: 0;
    width: 94%;
    z-index: 1000;
}

@media(min-width:1174px){
    .ascribe-piece-list-bulk-modal {
        left: auto;
        max-width: 1174px;
    }
}

.piece-list-bulk-modal-clear-all {
    cursor: pointer;
    text-decoration: underline;
}
