.ascribe-sliding-container-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 0;
    padding-right: 0;
}

.ascribe-sliding-container {
    padding-left: 0;
    padding-right: 0;
    transition: transform 1s cubic-bezier(.23, 1, .32, 1);
}

.ascribe-slide {
    float: left;
    min-height: 1px;
    position: relative;
}

.ascribe-breadcrumb-container {
    div:last-child {
        .ascribe-breadcrumb {
            border-right: 1px solid #eee;
        }
    }
}

.ascribe-breadcrumb {
    background-color: white;
    border: 1px solid #eee;
    border-right: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: .6em;
    padding: 1em;

    .active {
        color: #666;
    }

    a {
        color: #ddd;
        font-size: 1.1em;
        font-style: italic;
        text-decoration: none;
    }
}

