.settings-container{
    max-width: 600px;
    margin: auto;
}

.ascribe-settings-wrapper {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;

    background-color: white;

    border-left: 3px solid rgba(0,0,0,0);

    &div:last-of-type {
        border-bottom: 1px solid rgba(0,0,0,.05);
    }
    &:hover{
      border-left: 3px solid rgba(2, 182, 163, 0.4);
    }
}

.is-hidden{
  display: none;
}

.is-focused {
    background-color: rgba(2, 182, 163, 0.05);
    border-left: 3px solid rgba(2, 182, 163, 1) !important;
}

.is-error {
    background-color: rgba(169, 68, 66, 0.05);
    border-left: 3px solid rgba(169, 68, 66, 1);
    > div {
        > span {
            color: rgba(169, 68, 66, 1);
            font-size: 0.9em;
            margin-right: 1em;
        }
        > input, > textarea {
            color: #666;
        }
    }

    &:hover{
      border-left: 3px solid rgba(169, 68, 66, 1);
    }
}

.is-fixed {
    cursor: default;
    > div {
        cursor: default;
        > span {
            cursor: default;
        }
        > input, > div, > pre, > textarea {
            cursor: default;
            color: #666;
        }
    }
}

.ascribe-settings-property {
    display: inline-block;
    width: 100%;
    text-align: left;
    border-top: 1px solid rgba(0,0,0,.05);

    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    cursor:pointer;
    
    > input, > div, > span:not(.glyphicon), > pre, > textarea, > select {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
   
    > span {
        font-weight: normal;
        font-size: 0.9em;
        color: rgba(0,0,0,.5);
    }

    > div {
        /* margin-top: 10px; */
        > div:not(.file-drag-and-drop div) {
          padding-left: 0;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: normal;
          font-size: 1.1em;
          cursor: default;
          color: rgba(0, 0, 0, .5);
        }
    }

    > .progressbar-container, .progressbar-progress {
        margin-top: 0 !important;
    }

    > input, > pre, > textarea, > select, .datepicker__input {
        font-weight: 400;
        font-size: 1.1em;
        width:100%;
        margin-top: .5em;
        border: 0;
        background-color: rgba(0,0,0,0);
        color: rgba(0,0,0,.8);
        padding-left: 0;
        box-shadow: none;

        &:focus {
            border:0;
            outline:0;
            box-shadow: none;
        }

        &::selection {
            color: white;
            background-color: rgba(0,0,0,1);
        }

    }

    > textarea{
        color: #666;
        margin-top: 1em;
        padding: 0;
    }
}

.ascribe-property-footer {
    font-size: 0.8em;
    margin-top: 10px;
    width: 100%;
}

.ascribe-settings-property-collapsible-toggle {
    text-align: left;
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.05);
    
    padding: .5em 1.5em .5em 1.5em;

    cursor:pointer;

    /* Taken from: http://www.htmllion.com/css3-checkbox.html */
    .checkbox {
        display: inline-block;
        cursor: pointer;

        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: .9em;
        color: rgba(0, 0, 0, .5);
        vertical-align:middle;

        > span {
            position: relative;
            top: 1px;
            left: 5px;

            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;
        }
    }

    input[type=checkbox] {
        display:none; 
    }

    .checkbox:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        vertical-align:middle;
        background-color: white;
        color: #f3f3f3;
        text-align: center;

        border-radius: 1px;
        border: 1px solid rgba(0, 0, 0, .5);
    }

    input[type=checkbox]:checked + .checkbox:before {
        line-height: .8;

        content: "\2713";
        font-size: 20px;
        color: rgba(2, 182, 163, 1);
    }
}