$ascribe-accordion-list-item-height: 8em;
$ascribe-accordion-list-font: 'Source Sans Pro';

.ascribe-accordion-list {
    padding-left: 15px;
    padding-right: 15px;
}

.ascribe-accordion-list-item {
    background-color: white;
    border: 1px solid black;
    height: $ascribe-accordion-list-item-height;

    padding-left:0;
    padding-right:0;
    margin-top: 1.5em;
    &::first-child {
        margin-top:0;
    }

    overflow:hidden;

    border-left: 0.1em solid rgba(0,0,0,.2);
    border-right: 0.1em solid rgba(0,0,0,.2);
    border-top: 0.1em solid rgba(0,0,0,.2);
    border-radius: 1px;
    border-bottom: 0.1em solid rgba(0,0,0,.2);
    .wrapper {
        &:hover{
            background-color: rgba(2, 182, 163, 0.05);
        }
        width:100%;
        height:100%;
        // ToDo: Include media queries for thumbnail
        .thumbnail-wrapper {
            width: 110px;
            height: 110px;
            padding:0;
            cursor: pointer;
            text-align: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
            &::before {
                    content: ' ';
                    display: inline-block;
                    vertical-align: middle; /* vertical alignment of the inline element */
                    height: 100%;
                }
        }
        h1 {
            margin: .1em 0 .1em 0;
            font-size: 2.2em;
            cursor: pointer;
        }
        h3 {
            font-size: 1.3em;
            margin: .2em 0 .3em 0;
            cursor: pointer;
        }
        a {
            color: #666;
        }
    }
}

.accordion-list-item-header {
    margin-top:.65em;

    > a {
        text-decoration: none;
    }
}

.ascribe-accordion-list-loading {
    padding-top: 30%;
    padding-bottom: 30%;
}

.ascribe-accordion-list-loading img {
    display: block;
    margin: auto;
}

.ascribe-accordion-list-item-table {
    font-size: .9em;
    text-align: center;
    background-color: white;

    //border-bottom-left-radius: 1px;
    //border-bottom-right-radius: 1px;
    border-bottom: 0.1em solid rgba(0,0,0,.15);
    border-left: 0.1em solid rgba(0,0,0,.2);
    border-right: 0.1em solid rgba(0,0,0,.2);
    padding: 0;
    thead:first-child {
        tr:first-child {
            border: none! important;
            th {
                padding-left: 10px;
                border: none! important;
            }
        }
        border-left: 3px solid rgba(0,0,0,0);
        //border-top: 1px solid rgba(0,0,0,.1);
        border-bottom: 1px solid rgba(0,0,0,.05);
    }
    tbody {
        tr {
            padding: 1em;
            &:hover{
                background-color: rgba(2, 182, 163, 0.05);
                border-left: 3px solid rgba(2, 182, 163, 0.4);
            }
            border-left: 3px solid rgba(0,0,0,0);
            border-bottom:  1px solid rgba(0,0,0,.03);
            td {
                border: none! important;
                a {
                    color: #444
                }

            }
        }
        tr{
            td:first-child {
                margin-left: 10px;
            }
        }
    }
}

span.ascribe-accordion-list-table-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    
    &:hover {
        color: $ascribe-color-green;
        cursor:pointer;
    }
}

.ascribe-accordion-list-table-list {
    margin-bottom: .5em;
    th, td {
      font-size:.85em;
      text-align: center;
    }
}

.request-action-batch {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #666;
    font-size: 1.2em;
    padding: 0.3em;
}

.ascribe-accordion-list-item-edition-widget {
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    &:hover {
        color: $ascribe-color-green;
    }
    .glyphicon {
        top: 1px !important;
        font-size: 0.8em;
    }
}