.ascribe-collapsible-wrapper {
    vertical-align: bottom;
    width: 100%;

    > div:first-child {
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        margin-top: 20px;
        padding: 0 10px 10px 0;
        width: 100%;
    }

    > div > span {
        font-size: 1.2em;
        margin-right: .5em;
    }

    > div > span:nth-child(2) {
        font-size: .9em;
    }
}

.ascribe-collapsible-content {
    background: none;
    border: 0;
    width: 100%;
    
    /* Shrink the size of the headline for a nested element */
    .ascribe-collapsible-wrapper > .ascribe-collapsible-content {
        padding-left: 1em;
        font-size: 95%;
    }
}