$ascribe-black: #1E1E1E;
$ascribe-dark-blue: #003C69;
$ascribe-blue: #65CFE9;
$ascribe-light-blue: #D3DEE4;
$ascribe-white: #F8F8F8;
$ascribe-pink: #D10074;
$ascribe-blue-border: rgba(0, 60, 105, 0.1);
$ascribe-red-error: rgb(169, 68, 66);


$ascribe--fg-color: $ascribe-dark-blue;
$ascribe--bg-color: $ascribe-dark-blue;

$ascribe--nav-fg-prim-color: white;
$ascribe--nav-fg-sec-color: $ascribe-light-blue;
$ascribe--nav-bg-color: $ascribe-dark-blue;

$ascribe--button-default-color: $ascribe--bg-color;
$ascribe--button-secondary-fg-color: $ascribe--bg-color;
$ascribe--button-secondary-bg-color: white;

$ascribe--logo: 'https://s3-us-west-2.amazonaws.com/ascribe0/whitelabel/ikonotv/ikono_tv.png';

$ascribe--font: 'canada-type-gibson', sans-serif !important;
$ascribe--font-weight: 300 !important;

html,
body {
    font-family: $ascribe--font;
    font-weight: $ascribe--font-weight;
    background-color: #fcfcfc !important;
}
h1, h3 {
    font-family: $ascribe--font;
    font-weight: $ascribe--font-weight;
}

h1 {
    font-size: 30px;
}

hr {
    border-top: 1px solid $ascribe-blue-border;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border-color: transparent;
}

.navbar-default {
    background-color: $ascribe--nav-bg-color;
    box-shadow: 0 0 2px rgba(0,0,0,.14),
                0 2px 4px rgba(0,0,0,.28);
    //box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);

    .navbar-nav > li > a,
    .navbar-nav > li > .active a {
        text-transform: uppercase;
        font-size: 12px;
        color: $ascribe--nav-fg-prim-color;
        border-bottom: 3px solid transparent;
    }
    .navbar-nav > li > a:hover {
        color: $ascribe--nav-fg-sec-color;
    }


    .navbar-nav > .active a,
    .navbar-nav > .active a:hover,
    .navbar-nav > .active a:focus {
        color: $ascribe--nav-fg-prim-color;
        border-bottom-color: $ascribe--nav-fg-prim-color;
        background-color: $ascribe--nav-bg-color;
        font-weight: 500;
    }

    .navbar-nav > .active {
        background-color: $ascribe--nav-bg-color;
    }

    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus,
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        color:  $ascribe--nav-fg-prim-color;
        background-color: $ascribe--nav-bg-color;
    }
    .dropdown-menu {
        background-color: $ascribe--nav-bg-color;
    }

    .dropdown-menu > li > a {
        color:  $ascribe--nav-fg-prim-color;
        font-weight: $ascribe--font-weight !important;
    }

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color:  $ascribe--nav-fg-prim-color;
        background-color: $ascribe--nav-bg-color;
    }

    .notification-menu {
        .dropdown-menu {
            background-color: white;
            li:hover {
                background-color: $ascribe-white;
            }
        }
        .notification-action{
            color: $ascribe-pink;
        }
    }

    .navbar-brand,
    .navbar-brand:hover {
        font-size: 23px;
        padding: 12px 15px;
        color: $ascribe--nav-fg-prim-color;
    }
    .img-brand .navbar-brand {
        width: 0;
        height: 0;
        padding-right: 120px;
        padding-bottom: 36px;
        padding-left: 30px;
        background-image: url($ascribe--logo);
        background-color: transparent;
        background-position: center 4px;
        background-repeat: no-repeat;
        background-size: 150px;
        margin-bottom: 0;
        position: relative;
    }

    .navbar-toggle .icon-bar {
        background-color: $ascribe--nav-fg-prim-color;
    }

    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: $ascribe--nav-bg-color;
    }
}

.ascribe-icon {
    font-size: 1.2em;
    font-weight: 300;
}

.ascribe-accordion-list-item {
    border: 1px solid $ascribe-blue-border;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.18);
	   -moz-box-shadow: 0 2px 2px -2px rgba(0,0,0,.18);
	        box-shadow: 0 2px 2px -2px rgba(0,0,0,.18);
    &:hover {
        //-webkit-transform: scale(1.005);
        //   -moz-transform: scale(1.005);
        //    -ms-transform: scale(1.005);
        //     -o-transform: scale(1.005);
        //        transform: scale(1.005);
      //  -webkit-transition: all 0.1s ease;
      //   -moz-transition: all 0.1s ease;
      // -o-transition: all 0.1s ease;
      //-ms-transition: all 0.1s ease;
      //    transition: all 0.1s ease;
    }
}

.ascribe-accordion-list-item .wrapper {

    h1 {
        font-size: 1.6em;
        margin: .4em 0 0 0;
    }
    h3 {
        font-size: 1.1em;
        margin-bottom: 0.4em;
    }
    a:not(.btn) {
        color: $ascribe-black
    }
    .accordion-list-item-header {
        a div {
            color: rgba(0,0,0,.6)
        }
    }
}

.ascribe-accordion-list-item-table {
    tbody {
        tr {
            &:hover {
                background-color: rgba($ascribe--button-default-color, .05);
                border-left-color: rgba($ascribe--button-default-color, .5);
            }
        }
    }
}
.ascribe-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    text-transform: uppercase;
    background-color: $ascribe-white;
    border-top: 1px solid rgba(0, 60, 105, 0.1);
}

.route--landing {
    animation: color-loop 20s;
    -moz-animation: color-loop 20s infinite;
    -webkit-animation: color-loop 20s infinite;
    
    margin: 0;
    width: 100%;
    padding: 5em 1em;
}


.route--login,
.route--signup {

    .btn-wide {
        display: block;
        margin: 50px auto 0;
        width: auto;
        padding: 10px 30px;
        text-transform: uppercase;
    }

    .btn-spinner {
        background-color: $ascribe--button-default-color;
    }

    .ascribe-form-header {
        background-image: url($ascribe--logo);
        background-color: transparent;
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: 300px;
        margin-bottom: 0;
        height: 150px;
        position: relative;

        h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: white;
            text-align: center;
            font-size: 22px;
            text-indent: -99999px;
            font-size: 0;
        }
    }

    .ascribe-property-wrapper {
        background-color: transparent;

        &:hover {
            border-left: 3px solid transparent;
        }

        &.is-focused {
            border-left: 3px solid transparent !important;
        }
    }

    .ascribe-property {
        border: none;
    }

    .ascribe-property > span {
        color: white;
    }

    .ascribe-property > input {
        padding: 10px;
        background-color: #fff;
        margin-top: .1em;

        &:focus {
            background-color: #ffff00;
        }
    }

    .checkbox,
    .checkbox a {
        color: white !important;
    }

    .ascribe-login-text {
        color: white;
        text-align: center;

        a {
            color: white;
            text-decoration: underline;
        }
    }
}

.ascribe-accordion-list-item-table {
    border-bottom: 0.1em solid $ascribe-blue-border;
    border-left: 0.1em solid $ascribe-blue-border;
    border-right: 0.1em solid $ascribe-blue-border;
}

.ascribe-table-header-column {
    span {font-weight: 300;}
}

.route--login,
.route--signup {
    .ascribe-form-bordered {
        border: none;
    }
}

.btn-ascribe-add {
    width: 30px;
    height: 30px;
    background-color: transparent !important;
    border: 1px solid $ascribe-dark-blue;
    border-radius: 50%;

    &:hover {
        border-color: white!important;
        background-color: $ascribe-dark-blue!important;
    }

    > span {
        position: absolute;
        left: 0;
        top: 2px;
        width: 30px;
        height: 30px;
        color: $ascribe-dark-blue;
        padding: 0.4em;
        &:hover {
            color: white;
        }
    }
}

// disabled buttons
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: darken($ascribe--button-default-color, 20%);
    border-color: darken($ascribe--button-default-color, 20%);
}

// buttons!
// thought of the day:
// "every great atrocity is the result of people just following orders"
.ascribe-piece-list-toolbar-filter-widget button {
    background-color: transparent;
    border: 1px solid transparent;
    color: $ascribe--button-default-color;

    &:hover,
    &:active {
        background-color: $ascribe--button-default-color !important;
        border-color: $ascribe--button-default-color !important;
        color: white;
    }
}

.btn-wide {
    font-weight: $ascribe--font-weight;
}

.btn-spinner, .btn-spinner:hover {
    background-color: $ascribe--button-default-color;
    border-color: $ascribe--button-default-color;
    [class^="spinner-wrapper-"] {
        color: white;
        .spinner-circle {
            border-color: white;
        }
    }
}

.btn-default {
    background-color: $ascribe--button-default-color;
    border-color: $ascribe--button-default-color;

    &:hover,
    &:active,
    &:focus,
    &:active:hover,
    &:active:focus,
    &:active.focus,
    &.active:hover,
    &.active:focus,
    &.active.focus {
        background-color: lighten($ascribe--button-default-color, 20%);
        border-color: lighten($ascribe--button-default-color, 20%);
    }
}

// disabled buttons
.btn-secondary.disabled,
.btn-secondary.disabled:hover,
.btn-secondary.disabled:focus,
.btn-secondary.disabled.focus,
.btn-secondary.disabled:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled],
.btn-secondary[disabled]:hover,
.btn-secondary[disabled]:focus,
.btn-secondary[disabled].focus,
.btn-secondary[disabled]:active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary,
fieldset[disabled] .btn-secondary:hover,
fieldset[disabled] .btn-secondary:focus,
fieldset[disabled] .btn-secondary.focus,
fieldset[disabled] .btn-secondary:active,
fieldset[disabled] .btn-secondary.active {
    background-color: darken($ascribe--button-secondary-bg-color, 20%);
    border-color: darken($ascribe--button-secondary-fg-color, 20%);
    color: darken($ascribe--button-secondary-fg-color, 20%);
}

.btn-secondary {
    background-color: $ascribe--button-secondary-bg-color;
    border-color: $ascribe--button-secondary-fg-color;
    color: $ascribe--button-secondary-fg-color;

    &:hover,
    &:active,
    &:focus,
    &:active:hover,
    &:active:focus,
    &:active.focus,
    &.active:hover,
    &.active:focus,
    &.active.focus {
        background-color: $ascribe--button-secondary-fg-color;
        border-color: $ascribe--button-secondary-bg-color;
        color: $ascribe--button-secondary-bg-color;
    }
}

.btn-secondary .spinner-wrapper {
    .spinner-circle,
    .spinner-inner {
        border-color: $ascribe--button-secondary-fg-color;
        color: $ascribe--button-secondary-fg-color;
    }
}

.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus,
.open > .btn-default.dropdown-toggle.dropdown-toggle {
    background-color: darken($ascribe--button-secondary-fg-color, 20%);
    border-color: darken($ascribe--button-secondary-fg-color, 20%);
}

.pager li > a,
.pager li > span {
    background-color: $ascribe--button-default-color;
    border-color: $ascribe--button-default-color;
}

.pager .disabled > a,
.pager .disabled > span {
    background-color: $ascribe--button-default-color!important;
    border-color: $ascribe--button-default-color;
}

// inputs!
.ascribe-input-glyph > .form-group > .input-group > .input-group-addon > .filter-glyph {
    color: $ascribe--button-default-color;
}

.search-bar > .form-group > .input-group {
    border: 1px solid rgba(0, 0, 0, 0);
    &:hover, &:focus, &:active {
        border-color: $ascribe-blue-border;
    }
    input::-webkit-input-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    input::-moz-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    /* firefox 19+ */
    input:-ms-input-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    /* ie */
    input:-moz-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }

}

.ascribe-property-collapsible-toggle [type=checkbox]:checked + .checkbox:before,
.ascribe-checkbox-wrapper [type=checkbox]:checked + .checkbox:before {
    color: $ascribe--button-default-color;
}

.ascribe-form-header {
    background-color: transparent;
    border-color: transparent;
}

.ascribe-form-bordered {
    border-color: transparent;
}

// properties!
.is-focused {
    border-left-color: $ascribe--button-default-color !important;
    background-color: rgba($ascribe--button-default-color, .05);
}

.is-error {
    > div {
        > span {
            color: rgba($ascribe-red-error, 1) !important;
        }
    }
    &:hover {
        border-left: 3px solid rgba(169, 68, 66, .5)!important;
    }
}

.ascribe-property-wrapper:hover {
    //border-left-color: rgba($ascribe--button-default-color, .5);
    border-left-color: rgba($ascribe-blue, .5);
}

.ascribe-accordion-list-item .wrapper:hover {
    background-color: rgba($ascribe--button-default-color, .05);
}

.ascribe-property {
    > div,
    > input,
    > pre,
    > select,
    > span:not(.glyphicon),
    > textarea {
        font-family: $ascribe--font;
        font-weight: $ascribe--font-weight;
    }
    > div {
        > div:not(.file-drag-and-drop div) {
            font-family: $ascribe--font;
            font-weight: $ascribe--font-weight;
        }
    }
    > span:not(.glyphicon) {
        color: $ascribe--button-default-color;
        //font-weight: normal !important;
    }

    textarea::-webkit-input-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    textarea::-moz-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    /* firefox 19+ */
    textarea:-ms-input-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    /* ie */
    textarea:-moz-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }

    input::-webkit-input-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    input::-moz-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    /* firefox 19+ */
    input:-ms-input-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    /* ie */
    input:-moz-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
}

// panel
.ascribe-panel-wrapper {
    border: 1px solid $ascribe-blue-border;
}
// intercom stuff
#intercom-container .intercom-launcher-button {
    background-color: $ascribe--button-default-color !important;
    border-color: $ascribe--button-default-color !important;
}


// notifications
.ascribe-global-notification-success {
    background-color: $ascribe--button-default-color;
}

// progress bar
.ascribe-progress-bar > .progress-bar {
    background-color: $ascribe--button-default-color;
}
