.file-drag-and-drop {
    background-color: #fefefe;
    cursor: default !important;
    display: block;
    height: auto;
    /* margin-top: 1em; */
    outline: 1px dashed #9e9e9e;
    overflow: auto;
    text-align: center;
    vertical-align: middle;
    padding: 1.5em 0 1.5em 0;

    .file-drag-and-drop-dialog > p:first-child {
        font-size: 1.5em !important;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
    }
}

.inactive-dropzone {
    background-color: rgba(0, 0, 0, 0) !important;
    cursor: default !important;
    outline: 0;
}

.present-options {
    > p {
        margin-bottom: .75em !important;
    }

    .btn {
        margin: 0 1em;
    }
}

.file-drag-and-drop-preview-iterator {
    margin: 2.5em 0 0 0;
    text-align: right;

    > div:first-child {
        text-align: center;
    }
}

.file-drag-and-drop-preview-iterator-spacing {
    margin-bottom: 1em;

    .file-name {
        font-size: 1.1em;
    }
}

.file-drag-and-drop-dialog {
    margin: 1.5em 0 1.5em 0;
}

.file-drag-and-drop-hashing-dialog {
    text-align: center;
    margin: 1.5em 0 0 0;
}

.file-drag-and-drop .file-drag-and-drop-dialog > p:first-child {
    font-size: 1.5em !important;

    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.file-drag-and-drop-position {
    display: inline-block;
    margin-left: .7em;
    margin-right: .7em;
    position: relative;

    .delete-file {
        background-color: black;
        border-radius: 1em;
        cursor: pointer;
        display: block;
        height: 20px;
        position: absolute;
        right: -7px;
        text-align: center;
        top: -7px;
        width: 20px;

        span {
            color: white;
            font-size: .8em;
            left: 0;
            top: 1px;

            &:hover {
                color: $brand-danger;
            }
        }
    }
}

.file-drag-and-drop-preview-table-wrapper {
    display: table;
    height: 94px;
    width: 104px;
}

.file-drag-and-drop-preview {
    background-color: #eeeeee;
    border: 1px solid #616161;
    cursor: default;
    overflow: hidden;
}

.action-file {
    color: white;
    cursor: pointer;
    font-size: 2.5em;
    text-shadow: -1px 0 black,
                  0 1px black,
                  1px 0 black,
                  0 -1px black;
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }

    &:hover {
        color: #d9534f;
    }

    &.glyphicon-ok, &.glyphicon-ok:hover {
        cursor: default;
        color: lighten($ascribe--button-default-color, 20%);
    }
}

.spinner-file {
    font-size: 2.5em;
}

.file-drag-and-drop-preview-image {
    border: 1px solid #616161;
    display: table;
    height: 104px;
    overflow: hidden;
    text-align: center;
    width: 104px;

    .action-file, .spinner-file {
        margin-top: .8em;
    }

    .ascribe-progress-bar + .action-file, .ascribe-progress-bar + .spinner-file {
        margin-top: .6em;
    }
}


.file-drag-and-drop-preview-other {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    p {
        margin-top: 5px;
    }

    .action-file, .spinner-file {
        margin-top: 0;
        position: relative;
        top: .3em;

        span:not(:first-child) {
            display: block;
            margin-top: .5em;
        }
    }
}

.ascribe-progress-bar {
    margin-bottom: 0;
    > .progress-bar {
        background-color: $ascribe-dark-blue;
    }
}

.ascribe-progress-bar-xs {
    height: 12px;
}

.upload-button-wrapper {
    text-align: left;

    .btn {
        font-size: 1em;
        margin-right: 1em;
    }

    span + .btn {
        margin-left: 1em;
    }
}