.ascribe-piece-list-bulk-modal {
    position: fixed;
    top:0;
    width:1170px;
    height:6em;
    background-color: #FAFAFA;

    border-left: 0.1em solid #E0E0E0;
    border-right: 0.1em solid #E0E0E0;
    border-top: 0.1em solid #E0E0E0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 0.2em solid #E0E0E0;
    z-index:1041; // between overlay and modal
}

.piece-list-bulk-modal-clear-all {
    text-decoration: underline;
    cursor:pointer;
}