
.ascribe-footer {
    text-align: center;
}

.ascribe-footer hr {
    border: 0;
    border-top: 1px solid #eee;
    background-color: rgba(0,0,0,0);
    margin-bottom: 0 !important;
}

.ascribe-footer .btn-ascribe-landing {
    margin-top: 2em;
}

.ascribe-footer-statement {
    font-family: 'mercury_light';
    font-size: 1.6em !important;
    margin-bottom: 0;
    margin-top: 0;
}

.ascribe-footer-statement a, .ascribe-footer-sub-statement a {
    color: #424242;
}

.ascribe-footer-sub-statement {
    font-size: .9em !important;
    margin-bottom: 2.5em;
}

.ascribe-footer-statement a, .ascribe-footer-sub-statement a {
    color: #424242;
}
.ascribe-footer-statement a:hover, .ascribe-footer-sub-statement a:hover {
    color: #48DACB;
}

.ascribe-footer .social-icons-wrapper {
    margin-top: 1em;
}

.ascribe-footer .social-icons-wrapper a {
    color: #424242;
    margin-left: 1em;
    font-size: 1.3em;
}

.ascribe-footer .social-icons-wrapper a:hover {
    color: #48DACB;
}