$ascribe-red-error: rgb(169, 68, 66);

.ascribe-property-wrapper {
    background-color: white;
    border-left: 3px solid rgba(0, 0, 0, 0);
    text-align: center;
    width: 100%;

    &div:last-of-type {
        border-bottom: 1px solid rgba(0, 0, 0, .05);
    }

    &:hover {
      border-left: 3px solid rgba($ascribe-blue, .5);
    }
}

.is-hidden {
    display: none;
}

.is-focused {
    background-color: rgba($ascribe--button-default-color, .05);
    border-left: 3px solid $ascribe--button-default-color;
}

.is-error {
    background-color: rgba($ascribe-red-error, .03);
    border-left: 3px solid rgba($ascribe-red-error, 1);

    //FIXME
    > div {
        > p {
            > span {
                color: rgba($ascribe-red-error, 1);
                font-size: .9em;
                margin-right: 1em;
            }
        }

        > span {
            color: rgba($ascribe-red-error, 1) !important;
        }

        > input,
        > textarea {
            color: #666;
        }
    }

    &:hover {
        border-left: 3px solid rgba($ascribe-red-error, .5)!important
    }
}

.is-warning {
    border-left: 3px solid $ascribe-pink
}

.is-fixed {
    cursor: default;

    > div {
        cursor: default;

        > span {
            cursor: default;
        }

        > input,
        > div,
        > pre,
        > textarea {
            color: #666;
            cursor: default;
        }
    }
}

.ascribe-property {
    border-top: 1px solid rgba(0, 0, 0, .05);
    color: $ascribe-dark-blue;
    cursor: pointer;
    display: inline-block;
    padding: 1em 1.5em;
    text-align: left;
    width: 100%;

    > p {
        height: 20px;
        margin-bottom: 0;
        > span {
            font-size: .9em;
        }
    }

    //FIXME
    > div {
        > div:not(.file-drag-and-drop div) {
            color: rgba(0, 0, 0, .5);
            cursor: default;
            font-size: 1.1em;
            font-weight: $ascribe--font-weight-light;
            padding-left: 0;
        }
    }

    > span:not(.glyphicon) {
        color: $ascribe--button-default-color;
    }

    > .progressbar-container, .progressbar-progress {
        margin-top: 0 !important;
    }

    //END OF FIXME SECTION

    .form-control {
        color: $ascribe-dark-blue;

        &:focus {
            box-shadow: none;
        }
    }
}

.ascribe-property-footer {
    font-size: .8em;
    margin-top: 10px;
    width: 100%;
}

.ascribe-property-collapsible-toggle {
    border-top: 1px solid rgba(0, 0, 0, .05);
    display: inline-block;
    padding: .75em 0 .75em 1.5em;
    text-align: left;
    width: 100%;
}


.ascribe-property {
    input::-webkit-input-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    /* firefox 19+ */
    input::-moz-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    /* firefox 18- */
    input:-moz-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
    /* ie */
    input:-ms-input-placeholder {
        color: rgba($ascribe-dark-blue, 0.5);
        font-style: normal;
    }
}
