.ascribe-textarea {
    border: 0;
    box-shadow: none;
    margin-bottom: 1em;
}

.ascribe-textarea-editable:hover {
    border: 0;
}

.ascribe-pre {
    background-color: white;
    border: 0;
    font-family: inherit;
    margin: 0;
    padding: 0;
    text-align: justify;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    word-break: break-word;
}
