.ascribe-form-bordered {
    border: 1px solid #F5F5F5;
}

.ascribe-form-header {
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: white;
}

.ascribe-form-header > h3 {
    padding: .75em 0 .75em 1em;
    margin-top: 0;
    margin-bottom: 0;
    color: #616161;
}