$ascribe-accordion-list-item-height: 9em;
$ascribe-accordion-list-font: 'Source Sans Pro';

.ascribe-accordion-list-item {
    background-color: rgba(0,0,0,0.004);
    border: 1px solid black;
    height: $ascribe-accordion-list-item-height;
    margin-bottom: 3em;

    padding-left:0;
    padding-right:0;

    overflow:hidden;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-left: 0.1em solid #E0E0E0;
    border-right: 0.1em solid #E0E0E0;
    border-top: 0.1em solid #E0E0E0;
    border-radius: 5px;
    border-bottom: 0.25em solid #E0E0E0;
    .wrapper {
        width:100%;
        // ToDo: Include media queries for thumbnail
        .thumbnail-wrapper {
            float:left;
            height:100%;
            width:$ascribe-accordion-list-item-height;
            overflow:hidden;
            padding-left:0;
            padding-right:0;

            img {
                height: $ascribe-accordion-list-item-height;
            }
        }
        .info-wrapper {
            float:left;
            font-family: $ascribe-accordion-list-font;
            margin-left: 2em;
            padding-top: .75em;
            h1 {
                font-size: 2.25em;
            }
            h3 {
                font-size: 1.1em;
                margin: .7em 0 0 0;
            }
        }
    }
}