
.ascribe-footer {
    text-align: center;

    hr {
        background-color: rgba(0, 0, 0, 0);
        //border: 0;
        margin-bottom: 0 !important;
    }

    .btn-ascribe-landing {
        margin-top: 2em;
    }

    .social-icons-wrapper {
        margin-top: 1em;

        a {
            color: #424242;
            font-size: 1.3em;
            margin-left: 1em;
        }

        a:hover {
            text-decoration: none;
            color: lighten($ascribe-dark-blue, 20%);
        }
    }
}


.ascribe-footer-statement {
    font-family: 'mercury_light';
    font-size: 1.6em !important;
    margin-bottom: 0;
    margin-top: 0;
}

.ascribe-footer-statement a,
.ascribe-footer-sub-statement a {
    color: #424242;
}

.ascribe-footer-sub-statement {
    font-size: .9em !important;
    margin-bottom: 2.5em;
}

.ascribe-footer-statement a:hover,
.ascribe-footer-sub-statement a:hover {
    color: #48dacb;
}
