// If you import a new .scss file, make sure to restart gulp
// otherwise it will not be included
@import 'variables';
@import 'ascribe_variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../node_modules/react-datepicker/dist/react-datepicker';
@import './ascribe-fonts/style';
@import './ascribe-fonts/ascribe-fonts';
@import 'ascribe_accordion_list';
@import 'ascribe_piece_list_bulk_modal';
@import 'ascribe_piece_list_toolbar';
@import 'ascribe_edition';
@import 'ascribe_textarea';
@import 'ascribe_media_player';
@import 'ascribe-global-notification';
@import 'offset_right';

.hidden {
    display: none;
}

.navbar-default {
    border-left:0;
    border-right:0;
    margin-bottom: 1.5em;
    border-top:0;
}

.clear-paddings {
    padding-left:0;
    padding-right:0;
}

.ascribe-color {
    color: $ascribe-color;
}

/* Taken from http://stackoverflow.com/a/20548578 */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.ascribe-table {
    margin-bottom:0;
}

/*This is aligning the first checkbox in pieclist detail with all the other ones*/
.table > thead:first-child > tr:first-child > th {
    padding-left:0;
}


.ascribe-table-header-column > span {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    color: #424242;
}

.ascribe-table-item-column {
    display: table;
    font-family: 'Source Sans Pro';
    font-size: .8em;
    height:3em;
}

.ascribe-table-item-column > * {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ascribe-table-item-column > span > input {
    margin-top:14px;
}

.ascribe-table-item-selected {
    background-color: rgba(2, 182, 163, 0.5);
}

.ascribe-table-item-selectable {
    cursor: default;
}

.no-margin {
    margin-right: 0;
    margin-left: 0;
}

.btn-ascribe, .btn-ascribe-inv {
    border: 1px solid #444;
    line-height: 2em;
    margin-right: 1px;
    margin-left: 0 !important;
    font-family: sans-serif !important;
    border-radius: 0 !important;

}

.btn-ascribe, .btn-ascribe-inv:active, .btn-ascribe-inv:hover {
    color: #222 !important;
    background-color: #FFF;
}

.btn-ascribe:active, .btn-ascribe:hover, .btn-ascribe-inv {
    color: #FFF !important;
    background-color: #444;
}

.btn-ascribe-inv:disabled, .btn-ascribe-inv:focus {
    color: #444 !important;
    background-color: #BBB !important;
    border: 1px solid #444 !important;
}

.btn-ascribe-sm {
    font-size: 12px;
    line-height: 1.3em;
}

.btn-ascribe-green, .btn-ascribe-green-inv {
    border: 1px solid #48DACB;
    line-height: 2em;
    margin-left: 0 !important;
    font-family: sans-serif !important;
    border-radius: 0 !important;

}

.btn-ascribe-green, .btn-ascribe-green-inv:active, .btn-ascribe-green-inv:hover {
    background-color: #FFF;
    border: 1px solid rgba(2, 182, 163, 0.5);
    color: rgba(2, 182, 163, 0.5);
}

.btn-ascribe-green:active, .btn-ascribe-green:hover, .btn-ascribe-green-inv {
    border: 1px solid rgba(2, 182, 163, 0.5);
    color: white;
    background-color: rgba(2, 182, 163, 0.5);
}

.ascribe-detail-header {
    margin-top: 2em;
}


.ascribe-detail-title {
    font-size: 2em;
    margin-bottom: -0.2em;
}

.ascribe-detail-property {
    padding-bottom: 0.4em;
}

.input-text-ascribe,
.datepicker__input {
    border-bottom: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    border-radius: 0 !important;
    box-shadow: none;
    width: 100%;
}

.textarea-ascribe-message {
    height: 13em !important;
}

.input-checkbox-ascribe {
    text-align: left;
    line-height: 1.6;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* columns of same height styles */
/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */
.row-full-height {
    height: 100%;
}

.col-full-height {
    height: 100%;
    vertical-align: middle;
}

.row-same-height {
    display: table;
    width: 100%;
    /* fix overflow */
    table-layout: fixed;
}

.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* vertical alignment styles */

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}
