// If you import a new .scss file, make sure to restart gulp
// otherwise it will not be included

$BASE_URL: '<%= BASE_URL %>';

@import 'ascribe_variables';
@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../node_modules/react-datepicker/dist/react-datepicker';
@import 'glyphicons-social';
@import 'ascribe_theme';
@import './ascribe-fonts/style';
@import './ascribe-fonts/ascribe-fonts';
@import 'ascribe_login';
@import 'ascribe_table';
@import 'ascribe_accordion_list';
@import 'ascribe_piece_list_bulk_modal';
@import 'ascribe_piece_list_toolbar';
@import 'ascribe_edition';
@import 'ascribe_textarea';
@import 'ascribe_media_player';
@import 'ascribe_uploader';
@import 'ascribe_footer';
@import 'ascribe_global_notification';
@import 'ascribe_piece_register';
@import 'offset_right';
@import 'ascribe_settings';
@import 'ascribe_slides_container';
@import 'ascribe_form';
@import 'ascribe_panel';
@import 'ascribe_button';

@import 'whitelabel/index';


html, body {
    height: 100%;
    background-color: #FDFDFD;
}

html {
    overflow-y: scroll;
}

.ascribe-default-app {
    padding-top: 70px;
    overflow-x: hidden;
}

hr {
    margin-bottom: 15px;
}

#main {
    height: 100%;
}

.hidden {
    display: none;
}

.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.inline{
    display: inline;
}

.navbar-default {
    border: none;
    border-left:0;
    border-right:0;
    margin-bottom: 1.5em;
    border-top:0;
    border-color: #CCC;
    font-size: 0.8em;
}

.img-brand {
    padding: 0;
    height: 45px;
    margin: 5px 0 5px 0;
}
.truncate {
    white-space: nowrap;
    width: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    @media only screen and (min-width: 400px) {
        width: 8em;
    }
    @media only screen and (min-width: 600px) {
        width: 12em;
    }
    @media only screen and (min-width: 1000px) {
        width: 14em;
    }
    @media only screen and (min-width: 1200px) {
        width: 16em;
    }
    @media only screen and (min-width: 1400px) {
        width: 18em;
    }
}
.navbar-right {
    margin-right: 0;
}

.clear-paddings {
    padding-left:0;
    padding-right:0;
}

.clear-margins {
    margin-top:0;
    margin-bottom:0;
}

.ascribe-color {
    color: $ascribe-color-green;
}

.ascribe-subheader{
    padding-bottom: 10px;
    margin-top: -10px;
    a {
        cursor: pointer;
        font-size: 0.8em;
        color: #222;
    }
}

.tooltip-inner{
    max-width: 300px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    text-decoration: none;
    background-color: #FCFAFA;
    border-radius: 0;
    border: 1px solid;
}

/* Taken from http://stackoverflow.com/a/20548578 */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.filter-glyph{
    color: white;
}
.no-margin {
    margin-right: 0;
    margin-left: 0;
}
.btn-delete{
    background-color: rgba(0,0,0,0);
    color: #888;
    border: 1px solid rgba(0,0,0,0);
    &:hover{
        border: 1px solid $ascribe-brand-danger;
    }
}
.btn-ascribe, .btn-ascribe-inv {
    border: 1px solid #444;
    line-height: 2em;
    margin-right: 1px;
    margin-left: 0 !important;
    font-family: sans-serif !important;
    border-radius: 0 !important;
}

.btn-ascribe, .btn-ascribe-inv:active, .btn-ascribe-inv:hover {
    color: #222 !important;
    background-color: #FFF;
}

.btn-ascribe:active, .btn-ascribe:hover, .btn-ascribe-inv {
    color: #FFF !important;
    background-color: #444;
}

.btn-ascribe-inv:disabled, .btn-ascribe-inv:focus {
    color: #444 !important;
    background-color: #BBB !important;
    border: 1px solid #444 !important;
}

.btn-ascribe-sm {
    font-size: 12px;
    line-height: 1.3em;
}

.btn-ascribe-green, .btn-ascribe-green-inv {
    border: 1px solid #48DACB;
    line-height: 2em;
    margin-left: 0 !important;
    font-family: sans-serif !important;
    border-radius: 0 !important;
}

.btn-ascribe-green, .btn-ascribe-green-inv:active, .btn-ascribe-green-inv:hover {
    background-color: #FFF;
    border: 1px solid rgba(2, 182, 163, 0.5);
    color: rgba(2, 182, 163, 0.5);
}

.btn-ascribe-green:active, .btn-ascribe-green:hover, .btn-ascribe-green-inv {
    border: 1px solid rgba(2, 182, 163, 0.5);
    color: white;
    background-color: rgba(2, 182, 163, 0.5);
}

.ascribe-detail-title {
    font-size: 2em;
    margin-top: 0;
}

.ascribe-detail-property {
    padding-bottom: 0.4em;
}

.ascribe-detail-property-label {
    font-size: 0.8em;
}

.ascribe-detail-property-value {
    /* white-space: nowrap;
    overflow: hidden; */
    text-overflow: ellipsis;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 0.9em;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 0.9em;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 0.9em;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 0.9em;
    font-style: italic;
}

.textarea-ascribe-message {
    height: 13em !important;
}

.input-checkbox-ascribe {
    text-align: left;
    line-height: 1.6;
    width: 90%;
    margin-left: 1.6em;
    margin-right: auto;
}

/* columns of same height styles */
/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */
.row-full-height {
    height: 100%;
}

.col-full-height {
    height: 100%;
    vertical-align: middle;
}

.row-same-height {
    display: table;
    width: 100%;
    /* fix overflow */
    table-layout: fixed;
}

.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* vertical alignment styles */

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

.ascribe-button-list button, .ascribe-margin-1px {
    margin-right: 1px;
    margin-top: 1px;
}

.margin-left-2px{
    margin-left: 2px;
}

.spin {
    display:inline-block;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    -webkit-transform-origin: 55% 70%;
    -moz-transform-origin: 55% 70%;
    -o-transform-origin: 55% 70%;
    transform-origin: 55% 70%;
    width: 10px;
    height: 10px;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
0% { -moz-transform: rotate(0deg); }
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg);}
} 

.btn-default {
    .glyph-ascribe-spool {
        color: white;
    }
}

.fullpage-spinner {
    padding-top: 30%;
    padding-bottom: 30%;

    text-align: center;

    > span {
        font-size: 2em;
    }
}