@import 'cc/cc_custom_style';
@import 'cyland/cyland_custom_style';
@import 'ikonotv/ikonotv_custom_style';
@import '23vivi/23vivi_custom_style';
@import 'polline/polline_custom_style';
@import 'artcity/artcity_custom_style';
@import 'demo/demo_custom_style';
@import 'market/index';

.ascribe-wallet-app {
    border-radius: 0;
    padding-top: 70px;
    padding-bottom: 10px;
}

@media print {
    .ascribe-wallet-app {
        padding: 0 !important;
    }
}
