lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-project
.idea
spool-project.sublime-project
*.sublime-workspace
*.sublime-workspace
webapp-dependencies.txt

pids
logs
results

build/*

gemini-coverage/*
gemini-report/*

node_modules/*

.DS_Store
