.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-project
.idea
*.sublime-workspace

pids
logs
results

.env

build/*
dist/*

gemini-coverage/*
gemini-report/*
test/gemini/screenshots/*

node_modules/*
