<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#D3DEE4">

        <title>ascribe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="<%= BASE_URL %>static/css/main.css">
        <% DEBUG && print('<link rel="stylesheet" href="' + BASE_URL + 'static/css/maps/main.css.map">') %>

        <!-- This is for sluice -->
        <link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
        <script>
            window.BASE_URL = '<%= BASE_URL %>';
            window.SERVER_URL = '<%= SERVER_URL %>';
            window.API_ENDPOINT = '<%= API_ENDPOINT %>';
            <% DEBUG && print('window.DEBUG = true'); %>
            <% DEBUG && print('window.CREDENTIALS = \'' + CREDENTIALS + '\''); %>
        </script>
        <!-- Typekit gibson font -->
        <script src="https://use.typekit.net/gma2yhj.js"></script>
        <script>
            try {Typekit.load({ async: true });}
            catch(e){}
        </script>
    </head>
    <body>
        <div id="main"></div>
        
        <!-- actual app -->
        <script src="<%= BASE_URL %>static/js/app.js"></script>
    </body>
</html>
