.wp {
    height: 100%;
    max-width: 90%;
    margin: auto;
    /* We need this, otherwise piece list will have a scrollbar */
}

.hero {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;

    overflow: hidden;
    text-align: center;

    > img {
        margin-top: 5em;
        margin-bottom: 5em;
    }
}

.wp-landing-wrapper {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;

    > .enter {
        margin-top: 2em;
        > p {
            margin-top: 2em;
        }
    }
}


.rating-container {
    color: lighten($simple-prize--nav-fg-prim-color, 80%) !important;
    .rating-stars {
        width: 25px;
        color: $simple-prize--nav-fg-prim-color !important;
    }
}

#list-rating {
    > a > span > span > .rating-container .rating-stars {
        color: #000;
    }
    > span > span > span > .rating-container .rating-stars {
        color: #000;
    }
    > span > span > .rating-container .rating-stars {
        color: #000;
    }
}
.react-rating-caption {
    font-size: 1em;
}

.rating-list {
    margin-left: 1.5em;
    font-size: 0.9em;
    margin-bottom: 0.3em;
    color: #333;
}

.rating-note {
    color: #666;
    font-style: italic;
    padding: 0.7em;

}


