$pr--nav-fg-prim-color: black;
$pr--button-color: $pr--nav-fg-prim-color;

.client--portfolioreview {

    .btn-wide,
    .btn-default {
        background-color: $pr--button-color;
        border-color: $pr--button-color;

        &:hover,
        &:active,
        &:focus,
        &:active:hover,
        &:active:focus,
        &:active.focus,
        &.active:hover,
        &.active:focus,
        &.active.focus {
            background-color: lighten($pr--button-color, 20%);
            border-color: lighten($pr--button-color, 20%);
        }
    }

    .navbar-default {
        .navbar-nav > .ascribe-powered-by, li > a {
            color: $pr--button-color !important;
        }

        .active a {
            border-bottom-color: $pr--button-color !important;
            color: $pr--button-color !important;
        }
    }

    .search-bar > .form-group > .input-group input {
        &::-webkit-input-placeholder {
            color: rgba($pr--button-color, 0.5);
        }
        &::-moz-placeholder {
            color: rgba($pr--button-color, 0.5);
        }
        &:-ms-input-placeholder {
            color: rgba($pr--button-color, 0.5);
        }
        &:-moz-placeholder {
            color: rgba($pr--button-color, 0.5);
        }
    }

    .icon-ascribe-search {
        color: $pr--button-color;
    }

    // filter widget
    .ascribe-piece-list-toolbar-filter-widget button {
        background-color: transparent !important;
        border-color: transparent !important;
        color: $pr--button-color !important;

        &:hover,
        &:active {
            background-color: $pr--button-color !important;
            border-color: $pr--button-color !important;
            color: white !important;
        }
    }

    .ascribe-property {
        > div,
        > input,
        > pre,
        > select,
        > span:not(.glyphicon),
        > p,
        > p > span,
        > textarea {
            color: $pr--nav-fg-prim-color;
        }
    }

    .ascribe-property-wrapper:hover {
        border-left-color: lighten($pr--nav-fg-prim-color, 60%);
    }

    .is-focused {
        border-left-color: $pr--nav-fg-prim-color !important;
        background-color: lighten($pr--nav-fg-prim-color, 95%);
    }

    .register-piece--info {
        text-align: center;
        
        h1, h2 {
            font-variant: small-caps;
        }

        h1 {
            font-size: 5em;
            color: #757575;
        }

        h2 {
            font-size: 1.25em;
        }

        p {
            margin-bottom: 0;
        }

        p + p {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 1.5em;
        }
    }

    .register-piece--form {
        margin-top: 2em;
        margin-bottom: 3em;

        form {
            border-top: none;
            border-bottom: none;
        }
    }

    .piece--hero {
        text-align: center;
        padding: 1em 0 1em 0;
        margin-bottom: 3em;
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        background-color: white;

        h2 {
            margin-top: 0;
        }
    }

    .ascribe-property {
        > p > span:not(> .span) {
            text-transform: capitalize;
        }
    }

    // intercom
    #intercom-container .intercom-launcher-button {
        background-color: $pr--button-color !important;
        border-color: $pr--button-color !important;
    }
}
