@import 'simple_prize/simple_prize_custom_style';
@import 'portfolioreview/portfolioreview_custom_style';

.ascribe-prize-app {
    border-radius: 0;
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 10px;
}

@media print {
    .ascribe-prize-app {
        padding: 0 !important;
    }
}
