$cc--nav-bg-color: #fcfcfc;
$cc--nav-fg-prim-color: #1E1E1E;
$cc--button-color: $cc--nav-fg-prim-color;

.client--cc {
    .navbar-default {
        background-color: $cc--nav-bg-color;
        box-shadow: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    .navbar-nav .dropdown .dropdown-toggle,
    .navbar-nav > li > a {
        color: $cc--nav-fg-prim-color;
        background-color: $cc--nav-bg-color;

        &:focus,
        &:hover {
            color: lighten($cc--nav-fg-prim-color, 40%);
        }
    }

    .navbar-nav > li.active > a {
        color: $cc--nav-fg-prim-color;
        border-bottom-color: $cc--nav-fg-prim-color;
        background-color: $cc--nav-bg-color;

        &:focus,
        &:hover {
            color: $cc--nav-fg-prim-color;
        }
    }

    .navbar-nav .open {
        .dropdown-toggle {
            background-color: $cc--nav-bg-color;
            color: lighten($cc--nav-fg-prim-color, 40%);

            &:focus,
            &:hover {
                background-color: $cc--nav-bg-color;
                color: lighten($cc--nav-fg-prim-color, 40%);
            }
        }

        .dropdown-menu a {
            color: $cc--nav-fg-prim-color;

            &:focus,
            &:hover {
                color: lighten($cc--nav-fg-prim-color, 40%);
            }
        }
    }

    .dropdown-menu {
        background-color: $cc--nav-bg-color;
    }

    .navbar-toggle {
        .icon-bar {
            background-color: $cc--nav-fg-prim-color;
        }

        &:focus,
        &:hover {
            background-color: $cc--nav-bg-color;
        }
    }
}

.client--cc .icon-ascribe-search {
    color: $cc--button-color;
}

// disabled buttons
.client--cc {
    // disabled buttons
    .btn-default.disabled,
    .btn-default.disabled:hover,
    .btn-default.disabled:focus,
    .btn-default.disabled.focus,
    .btn-default.disabled:active,
    .btn-default.disabled.active,
    .btn-default[disabled],
    .btn-default[disabled]:hover,
    .btn-default[disabled]:focus,
    .btn-default[disabled].focus,
    .btn-default[disabled]:active,
    .btn-default[disabled].active,
    fieldset[disabled] .btn-default,
    fieldset[disabled] .btn-default:hover,
    fieldset[disabled] .btn-default:focus,
    fieldset[disabled] .btn-default.focus,
    fieldset[disabled] .btn-default:active,
    fieldset[disabled] .btn-default.active {
        background-color: $cc--nav-bg-color;
        color: $cc--nav-fg-prim-color;
    }
}

.client--cc {
    .btn-secondary {
        background-color: $cc--nav-bg-color;
        border-color: $cc--nav-fg-prim-color;
        color: $cc--nav-fg-prim-color;

        &:hover,
        &:active,
        &:focus,
        &:active:hover,
        &:active:focus,
        &:active.focus,
        &.active:hover,
        &.active:focus,
        &.active.focus {
            background-color: $cc--nav-fg-prim-color;
            border-color: $cc--nav-fg-prim-color;
            color: $cc--nav-bg-color;
        }
    }
}

// buttons!
// thought of the day:
// "every great atrocity is the result of people just following orders"
.client--cc {
    .ascribe-piece-list-toolbar-widget.dropdown-toggle {
        color: $cc--button-color !important;
        background-color: transparent !important;
        border-color: transparent !important;

        &:hover,
        &:active {
            background-color: $cc--button-color !important;
            border-color: $cc--button-color !important;
            color: white !important;
        }
    }

    .btn-wide,
    .btn-default {
        background-color: $cc--button-color;
        border-color: $cc--button-color;

        &:hover,
        &:active,
        &:focus,
        &:active:hover,
        &:active:focus,
        &:active.focus,
        &.active:hover,
        &.active:focus,
        &.active.focus {
            background-color: lighten($cc--button-color, 20%);
            border-color: lighten($cc--button-color, 20%);
        }
    }

    .open > .btn-default.dropdown-toggle:hover,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle.focus,
    .open > .btn-default.dropdown-toggle.dropdown-toggle {
        background-color: darken($cc--button-color, 20%);
        border-color: darken($cc--button-color, 20%);
    }

    .pager li > a,
    .pager li > span {
        background-color: $cc--button-color;
        border-color: $cc--button-color;
    }

    .pager li.disabled > a,
    .pager li.disabled > span {
        background-color: $cc--button-color !important;
        border-color: $cc--button-color;
    }
}

// spinner!
.client--cc {
    .btn-spinner {
        color: $cc--button-color;
    }
    .spinner-circle {
        border-color: $cc--button-color;
    }
    .spinner-inner {
        color: $cc--button-color;
        display: none;
    }
}

// intercom stuff
.client--cc {
    #intercom-container .intercom-launcher-button {
        background-color: $cc--button-color !important;;
        border-color: $cc--button-color !important;;
    }
}

// notifications
.client--cc .ascribe-global-notification-success {
    background-color: lighten($cc--button-color, 50%);
}

// progress bar
.client--cc .ascribe-progress-bar > .progress-bar {
    background-color: $cc--button-color;
}

.client--cc .acl-information-dropdown-list .title {
    color: $cc--button-color;
}

.client--cc .action-file.icon-ascribe-ok,
.client--cc .action-file.icon-ascribe-ok:hover {
    color: $cc--button-color;
}

.client--cc .ascribe-progress-bar span {
    text-shadow: -1px 0 $cc--button-color,
                 0 1px $cc--button-color,
                 1px 0 $cc--button-color,
                 0 -1px $cc--button-color;
}

.client--cc  .upload-button-wrapper > span {
    color: $cc--button-color;
}
